.footer
            {
                background-color: rgba(0, 0, 0, 0.011);
                margin-top: auto;
            }
            
    
            .social
            {
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
            }
    
            .social a 
            {
                font-size: 20px;
                display: inline-block;
             
                color: rgb(218, 3, 3);
                width: 25px;
                padding: 40px;
                border-radius: 8px;
            }
    
            .social a:hover
            {
                color: aliceblue;
            }
    
            .footer ul 
            {
                list-style: none;
                text-align: center;
                padding-bottom: 30px;
            }
    
            .footer ul li 
            {
                display: inline-block;
                padding: 0px 15px;
            }
    
            .footer ul li a 
            {
                text-decoration: none;
                color: whitesmoke;
                display: inline-block;
                padding: 10px 20px;
            }
    
            .footer ul li a:hover
            {
                color: skyblue;
            }
    
    
            .copy-right
            {
                text-align: center;
                padding-bottom: 30px;
                color: rgb(174, 17, 17);
            }
