.header {
    position: fixed;
    width: 5rem;
    height: 50%;
    right: -1rem;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: red;

    &__link {
        display: block;
    }
}