.header {
    position: fixed;
    right: -4rem;
    top: 50%;
    transform: translate(-50%,-50%);

    &__container {
        transition: all .4s;
        transform: translateX(75%);
        text-align: left;
        display: block;
        &:not(:last-child){
            margin-bottom: 4rem;
        }

        &:hover span {
            opacity: 1;
        }
        &:hover {
            transform: translateX(0);
        }
    }

    

    &__link {
        text-decoration: none;
        color: $color-white;

        &--1{
            color: $color-red;
        }
        &--2 {
            position: relative;
            left: .3rem;
        }

    }
    &__text {
        transition: all .4s .1s;
        opacity: 0;
    }
    &__icon {
        vertical-align:text-top;
        transition: all .4s ease;
    }


}