.logo-box {
    position: absolute;
    padding: 2.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    & p {
        font-size: 2rem;
    }
    outline: .5rem solid $color-red;
    border-radius: 5px;
    transition: all .3s ease;
    box-shadow: 0 0rem 4rem rgba($color-white, .5);

    &:hover {
        outline: 1rem solid $color-red;
        outline-offset: 2rem;
        transform: translate(-50%,-50%) scale(1.2);
        box-shadow: 0 0rem 4rem rgba($color-red, .9);
    }
    
}